#createForm {
    border: 1px solid #ccc;
    padding: 15px;
    max-width: 350px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

    button:hover {
        background-color: #0056b3;
    }

    .post {
        background-color: #49cc90;
    }

    .get {
        background-color: #61affe;
    }

#stacksContainer {
    text-align: left;
    margin-top: 10px;
}

.stackInput {
    width: calc(100% - 10px);
    margin-bottom: 5px;
}
